.bg-img1 {
  background-image: url(/bg-img1.jpg);
  height: 32rem;
  background-position: center;
  background-size: cover;
}

.bg-img2 {
  background-image: url(/bg-img2.jpg);
  height: 32rem;
  background-position: center;
  background-size: cover;
}

.bg-img3 {
  background-image: url(/bg-img1.jpg);
  height: 32rem;
  background-position: center;
  background-size: cover;
}
